extends layout

block content
  h1.page-header Graphiques
  p ID de déploiement :
  p= id_deploiement
  p ROSE : Accélération en X (axe antéro-postérieur)
  p BLEU : Accélération en Y (axe longitudinal)
  p JAUNE : Accélération en Z (axe transversal)
  +tab-list(["Début","Fin","Milieu","Général"],0)
   +tab("Début","active")
     h1 Début d'acquisition
     br
     img(src='/images/graph2.png', alt='GRAPH2')
   +tab("Fin")
     h1 Fin d'acquisition
     br
     img(src='/images/graph3.png', alt='GRAPH3')
   +tab("Milieu")
     h1 Milieu d'acquisition
     br
     img(src='/images/graph4.png', alt='GRAPH4')
   +tab("Général")
     h1 Graphique général
     br
     img(src='/images/graph1.png', alt='GRAPH1')
