extends layout

block content
  h1.page-header Graphiques
  h2 Début de l'acquisition :
  img(src='/images/graph2.png', alt='GRAPH2')
  br
  h2 Graphique général :
  br
  img(src='/images/graph1.png', alt='GRAPH1')
  br
