extends layout

block content
  h1.page-header Graphiques
  form(action='/graphiques', method='POST')
    p ID de déploiement :
    - for (var i = 0; i < max; i++)
      input(type='radio', name='id_deploiement', required='', value=tab[i].id_deploiement)
      cite= tab[i].id_deploiement
    br
    button Choisir
