extends layout

block content
  h1.page-header Graphiques
  p ROSE : Accélération en X (axe antéro-postérieur)
  p BLEU : Accélération en Y (axe longitudinal)
  p JAUNE : Accélération en Z (axe transversal)
  h2 Début de l'acquisition :
  br
  img(src='/images/graph2.png', alt='GRAPH2')
  br
  h2 Fin de l'acquisition :
  br
  img(src='/images/graph3.png', alt='GRAPH3')
  br
  h2 Milieu d'acquisition :
  br
  img(src='/images/graph4.png', alt='GRAPH4')
  br
  h2 Graphique général :
  br
  img(src='/images/graph1.png', alt='GRAPH1')
  br
