extends layout

block content
  h1.page-header Importations
  form(action='/upload', method='POST', enctype='multipart/form-data')
    p ID de déploiement :
    - for (var i = 0; i < max; i++)
      input(type='radio', name='id_deploiement', required='', value=tab[i].id_deploiement)
      cite= tab[i].id_deploiement
    br
    p Selectionez un fichier de données à importer :
    input(type='file', name='fichier', required='', accept='.csv')
    button Télécharger
