extends layout

block content
  h1.page-header Importations
  form(action='/upload', method='POST', enctype='multipart/form-data')
    p ID de déploiement :
    input(type='radio', name='id_deploiement', value=1)
    | 1
    input(type='radio', name='id_deploiement', value=2)
    | 2
    input(type='radio', name='id_deploiement', value=3)
    | 3
    input(type='radio', name='id_deploiement', value=4)
    | 4
    input(type='radio', name='id_deploiement', value=5)
    | 5
    input(type='radio', name='id_deploiement', value=6)
    | 6
    input(type='radio', name='id_deploiement', value=7)
    | 7
    br
    p Selectionez un fichier de données à importer :
    input(type='file', name='fichier')
    button Télécharger
