extends layout

block content
  h1.page-header Accueil
  p Bienvenuue dans le PFE de Lulu
  p ID de session:
  p= sessID
  p Nombre de fois ou vous avez vu cette page :
  p= index
  p Bonjour Monsieur :
  p= email
  p Votre mot de passe est :
  p= password
